<div class="user-profile row align-items-center">
    <div class="col-md-4">
      <img class="avatar img-fluid rounded-circle h-100" [src]="user?.avatar" alt="User Avatar">
    </div>
    <div class="col-md-8">
      <div><span class="fw-bold" >Name:</span > {{ user?.first_name }} {{ user?.last_name }}</div>
      <div><span class="fw-bold"  >Email:</span > {{ user?.email }}</div>
      <div><span  class="fw-bold" >ID:</span > {{ user?.id }}</div>
    </div>
  </div>
  <div>
    <input
        name=""
        id=""
        (click)="goBack()"
        class="btn btn-primary"
        type="button"
        value="Back"
    />
    
  </div>